.Homepage {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-size: calc(20px + 2vmin);
}